<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>MyRegisterServlet</servlet-name>
  	<servlet-class>com.tyss.Register</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>MyRegisterServlet</servlet-name>
  <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  
</web-app>
